<div class='container-fluid login'>
<div class='row'>

<div class='col-md-12 login'>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, :role =>'form', url: session_path(resource_name)) do |f| %>
  <div class='form-group'>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>
    </div>
  <div class='form-group'>
  <div class="field">
      
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>
    </div>
  <% if devise_mapping.rememberable? %>
    <div class='checkbox'>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:'btn btn-default'%>
    </div>
<% end %>
    
</div>

</div>
</div>





